$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark:#020202;
$dark-grey:#121212;
$grey: #3D3D3D;
$black: #000000;
$light-grey: #A8A8A8;
$red: #D92323;
$dark-red: #A62121;
$light-red: #F22222;

